<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add Customer</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation" ><a href="/staff">Staff</a></li>
            <li role="presentation" ><a href="/staff_customers">Customers</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Add a Customer</h3>
      </div>


 <form action="/add_customer" method="post">
	<pre>
First Name: <input type="text" name="fname" value="George"><br>
Last Name:  <input type="text" name="lname" value="Georgeopolous"><br>
Email:      <input type="text" name="email" value="George@George.com"><br>
Sex:        <input type="text" name="sex" value="M/F"><br>
	 <input type="submit" value="Submit">
	 </pre>
 </form>
 
 <a href="/staff_customers">Cancel</a> 




