
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Customer</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">What would you like to do?</h3>
      </div>



<div>
    <a href="/search">Search for showings</a><br />
    <a href="/attend">Attend a showing</a><br />
    <a href="/rate">Rate a showing</a><br />
    <a href="/history">View history</a><br />
    <a href="/profile">See profile</a><br />
</div>


</div>

