<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Delete Showing</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation" ><a href="/staff">Staff</a></li>
            <li role="presentation" ><a href="/staff_showings">Showings</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Delete a Showing</h3>
      </div>


 <form action="/delete_showing" method="post">
	<pre>
Showing ID: <input type="text" name="showing_id" value="showing_id"><br>
	 <input type="submit" value="Submit">
	 </pre>
 </form>
 
 <a href="/staff_showings">Cancel</a> 







