<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Modify Room</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation" ><a href="/staff">Staff</a></li>
            <li role="presentation" ><a href="/rooms">Movies</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Modify a Room</h3>
      </div>


 <form action="/modify_theatreroom" method="post">
	<pre>
Room Number:   <input type="text" name="room_num" value="1"><br>
Capacity Change: <input type="text" name="capacity" value="45"><br>
	 <input type="submit" value="Submit">
	</pre>
 </form>
 
 <a href="/rooms">Cancel</a> 