<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Profile</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation" ><a href="/customer">Customer</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">My Profile</h3>
      </div>




<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <p>My Information:</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Customer ID</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Email</th>
        <th>Sex</th>
      </tr>
    </thead>
    <tbody>
    {% for row in data %}
      <tr>
      {% for d in row %}
          <td>{{ d }}</td>
      {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
