
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rooms</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation" ><a href="/staff">Staff</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">What would you like to do?</h3>
      </div>



<div>
    <a href="theatreroom_to_add">add rooms</a><br />
    <a href="/theatreroom_to_delete">delete rooms</a><br />
    <a href="/theatreroom_to_modify">modify rooms</a><br />
    <a href="/list_of_rooms">list all rooms and attributes</a><br />
</div>


</div>

